/{
	leds {
		compatible = "gpio-leds";
		status = "okay";

		led1: led_1 {
			gpios = <&gpio0 6 (GPIO_ACTIVE_LOW)>;
		};
		led2r: led_2_r {
			gpios = <&gpio0 8 (GPIO_ACTIVE_LOW)>;
		};
		led2g: led_2_g {
			gpios = <&gpio1 9 (GPIO_ACTIVE_LOW)>;
		};
		led2b: led_2_b {	
			gpios = <&gpio0 12 (GPIO_ACTIVE_LOW)>;
		};
	};


	io: gpio_c {
		
		button-matrix {
			/* col to row diodes */
			row = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, 
				<&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, 
				<&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, 
				<&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			col = <&gpio0 24 (GPIO_ACTIVE_HIGH)>, 
				<&gpio1 0 (GPIO_ACTIVE_HIGH)>, 
				<&gpio0 9 (GPIO_ACTIVE_HIGH)>, 
				<&gpio0 10 (GPIO_ACTIVE_HIGH)>;
		};

		rotary: rotary-encoder {
			A = <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			B = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};
};

&pinctrl {
	i2c1_default_alt: i2c1_default_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
				<NRF_PSEL(TWIM_SCL, 0, 31)>;
		};
	};
	i2c1_sleep_alt: i2c1_sleep_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
				<NRF_PSEL(TWIM_SCL, 0, 31)>;
			low-power-enable;
		};
	};
};

&i2c1 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c1_default_alt>;
	pinctrl-1 = <&i2c1_default_alt>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_FAST>;

	ssd1306: ssd1306@3C {
		compatible = "solomon,ssd1306fb";
		status = "okay";
		reg = <0x3C>;
		height = <32>;
		width = <128>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		prechargep = <0xD1>;
		segment-remap;
		com-invdir;
	};

};

